 



	.navbar{
		
	background-color:  !important;
	color: ;	!important
		
		
	}
	body{
	
	
	background-color:  !important;
	color:  !important;
	}
	.jumbotron{
		
		background-color:  !important;
		
	}
	